#palo1 {
    font-size: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 4%;
    left: 8%;
}
#numero {
    font-size: 80px;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 33%;
    left: 45%;
}
#palo2 {
    font-size: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 4%;
    bottom: 8%;
}

#carta {
    position: relative;
    border-radius: 25px;
}